/*
Joseph Othman
IntroCS pd5 sec08
HW5 -- Stuylin'
2020-02-08
*/


h1 {
	color: blue; 
	text-align: center;
}


p {
	font-family: "Gill Sans", sans-serif;
}


h2 {
	background-color: black;
	color: white;
}
